 {{#each movies}}

<div class="movie-result movie-div-{{this.imdbID}}">
{{this.Title}}
<table class="table">
  <tr>
    <th>
      Wanna Watch
    </th>
    <th>
      Seen Already
    </th>
    <th>
      Details
    </th>
    <th>
      Actions
    </th>
  </tr>
  <tr>
    <td>
      {{#if this.Users.0.UserMovie.wannaWatch}}
        <span id="{{this.imdbID}}_wannawatch">Yes</span>
      {{else}}
        <span id="{{this.imdbID}}_wannawatch">No</span>
      {{/if}}
    </td>
    <td>
      {{#if this.Users.0.UserMovie.isSeenAlready}}
        <span id="{{this.imdbID}}_seen">Yes</span>
      {{else}}
        <span id="{{this.imdbID}}_seen">No</span>
      {{/if}}
    </td>
    <td>
      <button class="btn btn-primary">
        <a onClick="modalDisplay({{@index}})" href="#" class="overlay link details" id="trigger-modal{{@index}}">Details</a>
      </button>
    </td>
    <td>
      <button data-imdbid="{{this.imdbID}}" class="btn btn-success add-wanna-watch">Wanna Watch</button>
      <button data-imdbid="{{this.imdbID}}" class="btn btn-info add-already-seen">Seen Already</button>
      <button data-imdbid="{{this.imdbID}}" class="btn btn-danger remove-movie">ｘ</button>
    </td>
  </tr>
</table>
</div>

{{!-- 
<li data-id="{{this.imdbID}}" class="list-group-item">
  <span class="text-primary">{{this.Title}}</span>
  {{#if this.Users.0.UserMovie.wannaWatch}}
  <span>Wanna Watch</span>
  {{else}}
  <button class="btn btn-success wannawatch">Wanna Watch</button>
  {{/if}} {{#if this.Users.0.UserMovie.isSeenAlready}}
  <span>Seen Already</span>
  {{else}}
  <button class="btn btn-info seenalready">Seen Already</button>
  {{/if}}
  <button class="btn btn-primary float-right">
    <a onClick="modalDisplay({{@index}})" href="#" class="overlay link details" id="trigger-modal{{@index}}">Details</a>
  </button>
  <button class="btn btn-danger float-right delete">ｘ</button>
</li> --}}

<div id="myModal{{@index}}" class="modal modaltest">

  <!-- Modal content -->
  <div class="modal-content">

    <div class="row" id="modal-body">
      <!--poster -->
      <div class="col-5" id="search-movie">
        <img id="selected-movie-poster" src={{this.Poster}}>
      </div>

      <div class="col-7" id="movie-scroll">
        <!--close BTN -->
        <span id='closeit{{@index}}' class="close">&times;CLOSE</span>

        <div class="container" id="modal-movie-info-box">
          <!--Movie Title -->
          <h2 class="movie-title" id="modal-movie-title">{{this.Title}}</h2>
          <!--Year, Runtime & Genre -->
          <div class="row" id="YRG-box">
            <div class="col-2" id="year">
              <h5>{{this.Year}}</h5>
            </div>
            <div class="col-2" id="runtime">
              <h5>{{this.Runtime}}</h5>
            </div>
            <div class="col-6" id="genre">
              <h5>{{this.Genre}}</h5>
            </div>
          </div>
          <!--Raitings -->
          <div class="row" id="raitings">
            <div class="col-3" id="raiting-imdb">
              {{!--
              <img class="imdb-logo" src="assets/images/imdbLogo.png"> --}}
              <h6 class="imdb-text">{{this.Rated}}</h6>
            </div>
            <div class="col-4" id="raiting-roten">
              {{!--
              <img class="roten-logo" src="assets/images/rotenLogo.png"> --}} {{!--
              <h6 class="roten-text">{{this.movie_ratingRotten}}</h6> --}}
            </div>
          </div>
          <!--Director-->
          <div class="row">
            <div class="col-10" id="director">
              <p>
                <strong>Directed by: </strong>{{this.Writer}}</p>
            </div>
          </div>
          <!--Cast -->
          <div class="row">
            <div class="col-10" id="cast">
              <p>
                <strong>Starring: </strong>{{this.Actors}}</p>
            </div>
          </div>
          <!--Plot -->
          <div class="row">
            <div class="col-10" id="plot">
              <p>
                <strong>Plot: </strong>{{this.Plot}}</p>
            </div>
          </div>



          <!-- trailer -->

          {{!--
          <iframe id="trailer-box" src="https://www.youtube.com/embed/{{this.movie_trailer}}" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe> --}}


        </div>

      </div>

    </div>
  </div>

</div>

{{/each}}

<script>
  function modalDisplay(num) {
    console.log(num);
    // Get the modal
    var modal = document.getElementById('myModal' + num);
    //console.log(modal);
    // Get the button that opens the modal
    var btn = document.getElementById("trigger-modal" + num);
    modal.style.display = "block";
    //embedUt(num);
    // Get the <span> element that closes the modal
    var span = document.getElementById('closeit' + num);
    // When the user clicks the button, open the modal 
    //btn.onclick = function() {

    //}
    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  }
</script>