
{{user.username}}
<div>User Movie List to be Implemented</div>

{{#each movies}}
  <li data-id="{{this.imdbID}}" class="list-group-item">
    <a href="example/{{this.imdbID}}">{{this.Title}}</a> <span> Hello {{this.Users.0.UserMovie.wannaWatch}}</span>
    <button class="btn btn-danger float-right delete">ｘ</button>
  </li>
{{/each}}